<h1>Home</h1>
<h3>Welcome, <%= current_user.username %>!</h3>
<br>

<a href="/trees/index">View your trees</a>
<br><br>
<a href="/trees/new">Create a new tree</a>
<br><br>
<a href="/logout">Log out</a>
