<h2 align="center">Welcome, <%= current_user.username %>!</h2>

<form align="center" action="/trees" method="get">
  <button class="button">View Your Trees</button>
  
  <button class="button" formaction="/trees/new">Log New Tree</button>
  
</form>