<h1>Log In to Your Account</h1>

  <% if @err %>
    <p style="color:#FF0000";><%= @err %></p>
  <% end %>

<form action="/login" method="post">

  <label for="username">Username: </label>
  <input type="text" name="username" id="username">
  <br><br>

  <label for="password">Password: </label>
  <input type="password" name="password" id="password">
  <br><br>

  <input type="submit" name=" Log In ">

</form>