<h2>Log In To Your Account</h2>

  <% if @err %>
    <p style="color:#FF0000;"><%= @err %></p>
  <% end %>

<form action="/login" method="post">

  <label for="username">Username: </label>
  <input type="text" name="username" id="username">
  <br><br>

  <label for="password">Password: </label>
  <input type="password" name="password" id="password">
  <br><br>

  <button class="button">Log In</button>

</form>
<br><br>

Need an account?
<br>
<form action="/signup" method="get">
  <button class="button small">Register Here</button>
</form>