<h2>Register New Account</h2>

<% if @user && @user.errors.any? %>
  <% @user.errors.full_messages.uniq.each do |msg| %>
    <p style="color:#FF0000";><%= msg %></p>
  <% end %>
<% end %>

<form action="/signup" method="post">

  <label for="username">New Username: </label>
  <input type="text" name="username" id="username" value="<%= @user.username if @user %>">
  <br><br>

  <label for="password">New Password: </label>
  <input type="password" name="password" id="password">
  <br><br>

  <button class="button">Create Account</button>

</form>
<br><br>

Already have an account?
<br>
<form action="/login" method="get">
  <button class="button small">Log In Here</button>
</form>