<form action="/trees" method="post">

  <label for="survey_date">Date of survey: </label>
  <input type="text" name="survey_date" id="survey_date">
  <br><br>
  <p>Species: </p>
  <label for="">Species: </label>
  <input type="radio" name="species" id="species">

</form>